body{
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
		color:black;
}


header{
	
	background: url("./images/container_bg.jpg") no-repeat;
	background-size: 100% 100%;
	height:400px;
	width:900px;
	margin:0 auto;
}

article.header_image{

	display: block;

}

.header_image_logo{
	background: url("./images/date.jpg") no-repeat;
	width: 100px;
}

.article_bg{
	background: url('./images/article_bg.jpg') repeat ;
	padding:50px;
}

.art_title_sm{

	display: inline-block;
	padding-top: 5px;
	padding-left:15px;
	text-align: center;
}

.art_title_dt{
	display: inline-block;
	padding-top: 5px;
	padding-left:15px;
	text-align: center;
}

.dot-bt-border{

	border-bottom: #eeebea dotted 3px ;
	padding:0px;
}

.dot-bt-border h4 {
	margin: 16px;
	margin-left: 0px;
}

.demo_imgcnt img{

	display: block;
}

.article_small_logo{

	color: #5b782b;
}



.menu-container{

	width: 55%;
}
a{

	color:black;
	text-decoration: none;
}

.wrapper-header{
	background-color: #f0f0f0;
	padding: 15px;
}
.container,footer{
	max-width:800px;
	margin: 0 auto;
	background-color: #ffffff;
}

footer{

}

.float-left{

	float:left;
}


.float-right{

	float:right;
}


.head_info{

width:40%;
	
}

.nav-menu{
	width:40%;
}

.sub-menu{

	background-color: #5c5c5c;
	color:#fff;
}

.sub-menu a{

	background-color: #5c5c5c;
	color:#fff;
}

.sub-menu li{

	border-right: 1px solid #fff;
}


.sub-sub-menu{

	color: #999999;
}

.sub-sub-menu li{
	border-right: 2px solid #999;
}

footer >ul >li{
	border-right: 3px solid #999;
}


.sidebar_article_ul{

	padding: 0px;
}

.sidebar_article_ul > li{

	background: url("./images/menu.png") no-repeat;
	background-size: 100%;
	background-color: #f8f7ec;
	list-style: none;
	padding: 15px;
	margin-bottom: 5px;
	padding-left: 52px;
	color: #789935;
	font-weight: bold;
	padding-top: 25px;
}

.contact_form{

	background-color: #f8f7ec;
	color: #789935;
	padding:20px;
}

.contact_form label{

	font-style: italic;
	font-weight: bold;
}

.contact_form input,textarea{

	background-color: #eeebea;
	display: inline-block;
	width: 100%;
	margin-top:5px;
}

.contact_form button{

	background-color: #f1f6dd;
}




.sidebar_article_header{

	background-color: #f8f7ec;
	border-top: #eadccb 2px dotted;
	border-bottom: #eadccb 2px dotted;
	padding:10px;
}


.sidebar_article_link{

	color: #789935;

}


.contact_form{
	position: relative;
}

.contact_form > div{

	margin-bottom: 15px;
}

.from_pen_img{

	display: block;
	background: transparent;
	position: absolute;
	right:0px;
	bottom:0px;
}


.footer_article{
	background-color: #f1f6dd;
	padding:25px;
	text-align: center;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


div>h2{

	text-align: center;
}

h4,h5,h2{

	color:#789935;
}

.w10{
	width:10%;

}

.w20{
	width:20%;
	
}

.w30{
	width:30%;
	
}
.w40{
	width:40%;
	
}
.w50{
	width:50%;
	
}
.w60{
	width:60%;
	
}
.w70{
	width:70%;
	
}

.w80{
	width:80%;
	
}
.w90{
	width:90%;
	
}
.w100{
	width:100%;
	
}