body{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	color:black;
	padding: 0px;
	margin: 0px;
}
html {margin: 0px;padding: 0px;}
.menu-container{

	width: 55%;
}
a{

	color:black;
	text-decoration: none;
}

.wrapper-header{
	background-color: #f0f0f0;
}
.container,footer,header{
	max-width:800px;
	margin: 0 auto;
	background-color: #ffffff;
}

footer{
	background-color: #f0f0f0;
	border: 1px solid black;
	margin-top: 15px;
}

.float-left{

	float:left;
}


.float-right{

	float:right;
}


.head_info{

width:40%;
	
}

.nav-menu{
	width:40%;
}

.sub-menu{

	background-color: #5c5c5c;
	color:#fff;
}

.sub-menu a{

	background-color: #5c5c5c;
	color:#fff;
}

.sub-menu li{

	border-right: 1px solid #fff;
}


.sub-sub-menu{

	color: #999999;
}

.sub-sub-menu li{
	border-right: 2px solid #999;
}

footer >ul >li a{
	border-right: 1px solid #999;
}
footer >ul >li:last-child a {border-right: 0px;}


nav >ul >li,footer >ul >li,.clearfix>ul>li {
	list-style: none;
	display:inline-block;
	#margin:5px;
	padding: 5px 0 0;

}

nav >ul >li:last-child,footer >ul >li:last-child,.clearfix>ul>li:last-child {
	 border-right: none;
}

footer{
	padding:10px;
	border:none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



.container > aside{
	width:30%;
	margin-top:40px;
}

div>h2{

	text-align: center;
}

h4,h5,h2{

	color:red;
}

.w10{
	width:10%;

}

.w20{
	width:20%;
	
}

.w30{
	width:30%;
	
}
.w40{
	width:40%;
	
}
.w50{
	width:50%;
	
}
.w60{
	width:60%;
	
}
.w70{
	width:70%;
	
}

.w80{
	width:80%;
	
}
.w90{
	width:90%;
	
}
.w100{
	width:100%;
	
}

/* == Fresh Css == */
.logo {width: 274px;background: white;}
.logo-right {width: 65.7%;}
.logo-right .float-left p {font-size: 11px;color: #666666;margin-bottom: 0px;}
.logo-right .float-left p b {text-transform: capitalize;}
.logo-right .float-right ul {margin: 7px 0 0 0;text-align: right;padding-right: 5px;}
.logo-right .float-right ul li {display: inline-block;vertical-align: middle;padding: 0px;}
.logo-right .float-right ul li a {font-size: 11px;font-weight: bold; border-right: 1px solid #999999;color: #999999;padding: 0px 5px;}
.logo-right .float-right ul li:last-child a {border-right: 0px;}

.sub-menu {background: url("bg_menu.gif") repeat-x;margin-top: 0px;}
.sub-menu ul,.sub-sub-menu ul {text-align: right;margin-bottom: 0px;}
.sub-menu ul li,.sub-sub-menu ul li {display: inline-block;float: none;padding: 9px 0;border-right: 0px;}
.sub-menu ul li a,.sub-sub-menu ul li a {display: block;color: #fff;background: none;font-size: 12px; border-right: 1px solid #fff;padding: 0px 5px;}
.sub-menu ul li:last-child a,.sub-sub-menu ul li:last-child a {border-right: 0px;}
.sub-sub-menu ul {padding: 0;margin: 0px;}
.sub-sub-menu ul li a {color: #999999;border-color:#999999;}
.sub-sub-menu {background: #ffffff;padding-bottom: 55px;}
.container > aside {  margin-top: 3px;}
.container > aside{
	border:1px solid black;
	padding:15px;
	background-color: #f7f7f7;
	margin-top: 3px;
}
.container > aside h4 {
	margin: 0 0 15px;
	font-weight: bolder;
	font-size: 22px;
	color: #cc0000;
}
.container  aside article {
	margin-bottom: 20px;
}
.container  aside article h5{
margin: 0px;
font-size: 12px;
color: #cc0000;
}
.container  aside article  P {
	margin: 0px;
	font-size: 11px;
}
.container > section{
	margin: 0 20px 20px;
	width: 60%;
}
.container > section h2 {
	font-size: 40px;
	margin-bottom: 0;
	margin-top: -40px;
	text-align: center;
	color: #cc0000;
}
.container > section p {
	font-size: 11px;
	color: #666666;
}
.container > section p strong {color: #000;}
footer {
	background-color: #f0f0f0;
	margin-top: 15px;
}
footer > ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
 footer > ul > li{
	display: inline-block;
	list-style: outside none none;
	 padding: 0;
}
footer ul li a {
	color: #999999;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	padding: 0 6px 0 2px;
}
